.clearfix {
  clear: both;
}

#slider {
  margin: 50px auto;
  width: 800px;
  height: 450px;
  overflow: hidden;
  padding-top: 2em;
}

.projects {
   float: left;
   text-align: center;
   margin: 10px;
   padding: 10px;
   max-width: 21%;
   height: 10em;
   border: 1px solid #F5F5F5;
   background: #F5F5F5;
   box-shadow: 0 1px 3px #CECECE, 0 1px 2px #CECECE;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.projects:hover {
  box-shadow: 0 14px 28px gray, 0 10px 10px gray;
}

#project-window div{
  width: 100%;
}
