nav ul li {
  display: inline-block;
  float: right;
  padding-right: 1em;
  padding-top: 1em;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }


@media only screen and (min-width: 600px) {
  .icon-menu {
    display: none;
  }
